html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: arial, sans-serif;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-sizing: content-box;
    width: 100%
}

a:hover {
    color: #000000;
    cursor: pointer;
}

.content-area {
    display: flex;
    min-height: 0;
    box-sizing: 100%;
    width: 100%
}

.sidebar {
    width: 650px;
    height: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    text-align: left;
    border-right: 1px;
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    flex-grow: 1;
    border-bottom: 1px;
    overflow: auto;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #ffffff;
    overflow-y: scroll;
    margin-bottom: 25px;
}


.sidebar h3 {
    font-size: 45px;
    font-weight: 800;
    text-align: left;
    color: #7c1b1b;
}
.sidebar h4 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: #7c1b1b;
}


/*fix sidebar image size*/
.sidebar img {
    max-width: 100%;
}



.variable-sidebar {
    font-size: 10px;
    text-align: center;
    display: none;
}

.variable-sidebar h4 {
    font-weight: bold;
}

.variable-sidebar p {
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    color: #000000;
}

#mapContainer {
    background: #ccc;
    flex-grow: 1;
    box-sizing: parent-container;
    width: 100%
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 90px;
    margin-bottom: 40px;
    width: 170px;
}

/* CSS */
.button-52 {
    font-size: 16px;
    font-weight: bold;
    color: #7c1b1b;
    letter-spacing: 1px;
    padding: 10px 17px 10px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 90%;
    margin: 3px;
}

.button-52:after {
    content: "";
    background-color: #fae5be;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}
#modal a:link {
    /* background-color: #ccc; */
    color: black;
  }
  
  #modal a:visited {
    color: blue;
  }
  
